.cellButton {
  
  flex: 1;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  background-color: rgb(10, 245, 22);

  cursor: pointer;
}

.Button.sheep {
  background-color: rgb(255,255,255);
}

.Button.scored {
  background-color: rgb(81, 10, 245);
}

.Button.empty {
  background-color: rgb(10, 245, 22);
}

.Button.discovered {
  background-color: rgb(255, 8, 82);
}
